body {
  font-family: Arial, sans-serif;
}

.subheadings {
  margin-top: 1rem;
  display: none;
  list-style-type: none;
  & li {
    opacity: 0;
    text-align: start;
    transition: all 0.2s ease;
    & a {
      text-decoration: none;
    }
  }
}

.nav-link-el:hover a ~ .subheadings {
  display: block;
  & li {
    text-decoration: none;
    opacity: 1;
    transition: all 0.2s ease;
    & a {
      text-decoration: none !important;
    }
  }
}

